*{margin:0;
    padding:0}
  body{background-color:#eeddbc;}
  header{
    background-color:#bd9265 ;
    width:100%;
    height:95px;
    padding: 15px 0;
    margin: 0 auto;
}
img{
    width:200px;
   height:70px;
   padding: 10px ;
   margin:0;
}
/* Aboutボタン */
div.botton1{height:60px;
         width:auto;
         padding:10px;
         margin:0;
         }
p.About{font-size: 25px;
     font-family: 'Monotype Corsiva';
     color:#fffde8;
     position:absolute;
     top:47px;
      left:900px;}
/* Worksボタン */
div.botton2{height:60px;
       width:auto;
       padding:10px;
       margin:0;
       }   
p.Works{font-size: 25px;
    font-family: 'Monotype Corsiva';
   color:#fffde8;
   position:absolute;
   top:47px;
    left:1030px;}
/* Contactボタン */
div.botton3{height:60px;
     width:auto;
     padding:10px;
     margin:0;
     }   
p.Contact{font-size: 25px;
  font-family: 'Monotype Corsiva';
 color:#fffde8;
 position:absolute;
 top:47px;
  left:1160px;}
/* Langボタン */
div.botton4{height:60px;
   width:auto;
   padding:10px;
   margin:0;
   }   
p.lang{font-size: 25px;
font-family: 'Monotype Corsiva';
font-weight: bold;
color:#fffde8;
position:absolute;
top:47px;
left:1290px;}
/* フッター */
footer{
 width:100%;
 color:#4a3b1d;
 text-align:center;
padding:30px 0;
position: absolute;
bottom:0;
display: inline;
}